.about-container {
  min-height: 100vh;
  background-image: url("../assets/images/p1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  position: relative; /* Allow positioning of child elements */
}

.text {
  margin-left: 50%;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 2; /* Increase line spacing */
  max-width: 60%; /* Ensure text does not overflow */
}

/* Image styling */
.about-container img {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 30%; /* Adjust the distance from the right */
  max-width: 20%; /* Adjust the size of the image */
  height: auto; /* Maintain aspect ratio */
  
}
